# dependencies
node_modules/
.pnp/
.pnp.cjs

# next
.next/
out/

# build
build/

# env locali
.env*.local

# vercel metadata
.vercel/

# misc
.DS_Store
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
